/* The default settings for a viewport less than 600px wide */
* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    word-spacing: 0.05em;
    overflow: auto;
}

body,
aside,
.navclosetext,
.navopentext {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#page-title,
h1,
h2,
h3,
h4,
h5,
.aside-title,
.navh1 {
    font-family: 'Alegreya Sans SC';
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0px;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: #005f76;
}

code,
pre {
    font-family: 'Inconsolata', 'Consolas','Courier New', monospace;
    font-weight: 500;
    color: #990000;
    background-color: #f0f0f0;
}

#page-title {
    font-size: 1.4rem;
    font-weight: 400;
    font-style: none;
    letter-spacing: 0.5px;
    line-height: 1.4rem;
    color: #dddddd;
}

.title-heavy {
    color: #ffd24c;
    font-weight: 900;
}

h1 {
    margin-top: 5px;
    margin-left: -20px;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

h2 {
    margin: 10px 0px 15px -20px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

h3 {
    margin-top: 5px;
    font-size: 1.3rem;
}

h4 {
    margin-top: 5px;
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    margin-top: 20px;
    font-size: 1rem;
    font-style: oblique;
}

p {
    margin-top: 8px;
}

ul {
    margin-left: -1.2em;
}

dt {
    margin-top: 12px;
    font-weight: 700;
    color: #005f76;
}

dd {
    margin-left: 20px;
    margin-top: 0px;
}

.heading-rule {
    height: 2px;
    margin: 60px 0px 0px -20px;

    /* background-image: linear-gradient(to right, #005f76 0%, #005f76 50%, white 100%); */
    background-image: linear-gradient(to right, rgba(0,95,118,1), rgba(0,95,118,0), rgba(0,95,118,0));
}

/* .capsule-rule {
    height: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, white, white, #005f76);
} */
/* *********** HEADER ************ */
#header {
    position: -webkit-sticky;

    /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0px 2px 6px 1px #aaaaaa;
    background-color: #2b5000;
}

#header-table {
    width: 100%;
    height: 100%;
    padding: 0;
}

#header-left {
    width: 100px;
    vertical-align: bottom;
}

#aalogo {
    width: 72px;
}

#header-center {
    padding-bottom: 10px;
    vertical-align: bottom;
}

#header-right {
    width: 100px;
}

/* *********** LEFT NAVIGATION ************ */
#leftnav {
    display: none;
    float: left;
    height: calc(100vh - 110px);
    width: 240px;
    padding: 20px 30px 20px 20px;
    background-color: #eeeeee;
    overflow: auto;
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
}

#leftnavopen {
    position: fixed;
    height: 0px;
    margin-top: 19px;
    margin-left: -36px;
    padding: 0px;
    border: 0px;
    background-color: #ffffff;
    display: none;
}

.navopentext {
    visibility: hidden;
    position: absolute;
    left: 32px;
    top: 2px;
    width: 110px;
    padding: 5px 0;
    background-color: #dddddd;
    border: 0px solid #004050;
    border-radius: 2px;
    box-shadow: 2px 2px 6px #aaaaaa;
    text-align: center;
    font-size: 0.9rem;
    color: #004050;
    z-index: 1;
}

#leftnavopen:hover .navopentext {
    visibility: visible;
}

#leftnavclose {
    position: fixed;
    height: 0px;
    margin-top: -1px;
    margin-left: 161px;
    padding: 0px;
    border: 0px;
    background-color: red;
    z-index: 0;
}

#leftnavclose:hover .navclosetext {
    visibility: visible;
}

#leftnavclose:active #leftnav {
    display: none;
    visibility: none;
}

.navclosetext {
    visibility: hidden;
    position: absolute;
    left: 32px;
    top: 1px;
    width: 110px;
    padding: 3px 0;
    background-color: #dddddd;
    border: 0px solid #004050;
    border-radius: 2px;
    box-shadow: 2px 2px 6px #aaaaaa;
    text-align: center;
    font-size: 0.9rem;
    color: #004050;
    z-index: 1;
}

.navh1 {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 400;
}

/* *********** MAIN CONTENT ************ */
#content {
    display: inline-block;
    margin-top: 0px;
    height: calc(100vh - 110px);
    padding: 0px 40px 40px 40px;
    overflow: auto;
}

#banner {
    width: calc(100% + 80px);
    margin: 0px 0px 0px -40px;
}

aside {
    margin-top: 50px;

    /* margin: 50px 5% 0px 5% */
    padding: 10px 30px 10px 30px;

    /* background-image: linear-gradient(to right, rgba(114,203,225,0), rgba(114,203,225,0), rgba(114,203,225,0.25), rgba(114,203,225,0.5), rgba(114,203,225,0.8), rgba(114,203,225,0.8), rgba(114,203,225,0.5), rgba(114,203,225,0.25), rgba(114,203,225,0), rgba(114,203,225,0)); */
    background-image: linear-gradient(to right, rgba(255,210,76,0), rgba(255,210,76,0), rgba(255,210,76,0.25), rgba(255,210,76,0.5), rgba(255,210,76,0.8), rgba(255,210,76,0.8), rgba(255,210,76,0.5), rgba(255,210,76,0.25), rgba(255,210,76,0), rgba(255,210,76,0));
    border-bottom: 0px solid #004050;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.4;
    color: #004050;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
}

.aside-title {
    margin-bottom: 0px;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.2em;
}

.capsule {
    margin: 30px 0px;
    padding: 20px 40px 10px 40px;

    /* background-color: #eaebe3; */
    /* background-color: #005f76; */
    background-color: #2b5000;
    border: 1px solid #2b5000;
    color: #ffffff;
    box-shadow: 2px 2px 6px #aaaaaa;
}

.capsule code {
    color: #ffc9c9;
    background-color: black;
}

.capsule-title {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffd24c;
}

details {
    width: 180px;
    float: right;
    margin: 10px -20px 5px 15px;
    padding: 5px 10px;

    /* background-color: #c4ff4c; */
    background-color: #dfff9f;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #aaaaaa;
    font-size: 0.9em;
    text-align: left;
    color: black;
}

details summary {
    font-weight: 600;
}

details p {
    margin: 5px -11px -5px -11px;
    padding: 15px 20px 20px 25px;
    background-color: #375200;
    border-radius: 0px 0px 6px 6px;
    color: white;
}

.info {
    margin: 40px -40px 30px 0;
    padding: 10px 12% 10px 20px;
    border-left: 4px solid #005f76;
    font-weight: 500;
    font-style: oblique;

    /* background-image: linear-gradient(to right, #dfff9f, white); */
    background-image: linear-gradient(to right, rgba(223,255,159,1), rgba(223,255,159,0));
}

/* *********** FOOTER ************ */
#footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    margin: 0px;
    background-color: #2b5000;
    box-shadow: 0px -2px 6px 1px #aaaaaa;
    color: #ffffff;
    text-align: center;
}

/* The adjustments for a viewport between 600px and 900px wide. */
@media screen and (min-width: 600px) {
    #page-title {
        margin-bottom: 1px;
        font-size: 1.7rem;
    }

    #leftnavopen {
        margin-left: -46px;
    }

    #content {
        padding: 0px 50px 40px 50px;
    }

    #banner {
        width: calc(100% + 100px);
        margin-left: -50px;
    }

    aside {
        margin-left: -50px;
        margin-right: -50px;
    }

    h1 {
        font-size: 2.0rem;
        line-height: 2.5rem;
    }

    h2 {
        font-size: 1.7rem;
        line-height: 1.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    h5 {
        font-size: 1.1rem;
    }
}

/* The adjustments for a viewport between 900px and 1200px wide. */
@media screen and (min-width: 900px) {
    #page-title {
        margin-bottom: 3px;
        font-size: 2rem;
    }

    #leftnav {
        display: inline-block;
    }

    #leftnavopen {
        display: none;
    }

    #content {
        width: calc(100% - 240px);
    }

    aside {
        background-image: linear-gradient(to right, rgba(255,210,76,0), rgba(255,210,76,0), rgba(255,210,76,0.25), rgba(255,210,76,0.5), rgba(255,210,76,0.8), rgba(255,210,76,0.8), rgba(255,210,76,0.5), rgba(255,210,76,0.25), rgba(255,210,76,0), rgba(255,210,76,0));
    }
}

/* The adjustments for a viewport between 1200px and 1800px wide. */
@media screen and (min-width: 1200px) {
    #content {
        padding-left: calc(50% - 550px);
        padding-right: calc(50% - 550px);
    }

    #banner {
        width: calc(100vw - 258px);
        margin-left: calc(550px - 50vw);
    }

    aside {
        margin-left: calc(600px - 50vw);
        margin-right: calc(600px - 50vw);
    }
}
