/* Default serif fonts [font-family: "Times New Roman", Times, "Noto Serif", "Droid Serif", serif;] */

/* Default settings for a viewport < 600px wide */

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #888888;
    font-family: "Source Sans Pro", 
        "Arial", 
        "Segoe UI", 
        "Tahoma", 
        "-apple-system", 
        "BlinkMacSystemFont", 
        "Roboto", 
        "Droid Sans", 
        "Ubuntu", 
        "Helvetica Neue", 
        "Cantarell", 
        "Oxygen", 
        "sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: 1px;
}

code,
pre {
    font-family: "Inconsolata", 
        "Consolas", 
        "Courier New", 
        "monospace";
    font-weight: 500;
    color: #880000;
    background-color: #f0f0f0;
}

#page-title,
h1,
h2,
h3,
h4,
h5,
aside,
.aside-title,
.navh1 {
    font-family: "Alegreya Sans SC";
}


/* By section */
#header {
    position: -webkit-sticky;                              /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #004758;
    color: white;
}

#header-table {
    width: 100%;
    height: 100%;
    padding: 0;
}


/* ******** */
#header-left {
    width: 100px;
    vertical-align: bottom;
    padding-bottom: 4px;
}

#aalogo {
    width: 72px;
    border: 0px solid red;
}


/* ******** */
#header-center {
    padding-bottom: 11px;
    vertical-align: bottom;                              /* text-align: center; */
}

#page-title {
    font-size: 1.4rem;
    font-weight: 300;
    font-style: none;
    letter-spacing: 0.5px;
    line-height: 1;
    color: white;
}

.title-heavy {
    color: #ffd24c;
    font-weight: 700;
}


/* ******** */
#header-right {
    width: 100px;
}


/* ******** */
#main {
    height: calc(100vh - 110px);
}

#main-nav {
    display: none;
    float: left;
    width: 240px;
    height: 100%;
    padding: 20px 30px 20px 20px;
    overflow: auto;
    background-color: #eeeeee;
    font-size: 1rem;
    border: 0px solid red;
}

.navh1 {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 400;
}

#main-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0px 40px 40px 40px;
    overflow: auto;
    background-color: #dddddd;
    border: 0px solid red;
}


/* ******** */
#footer {
    position: -webkit-sticky;                              /* Safari */
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: #004758;
    text-align: center;
    color: white;
    border: 0px solid red;
}


/* Adjustments for a viewport 600px to < 900px wide. */
@media (min-width:600px) {
    body {
        font-size: 18px;
    }

    #page-title {
        font-size: 1.7rem;
    }

    #main-content {
        padding-right: 50px;
        padding-left: 50px;
    }
}

/* Adjustments for a viewport 900px to < 1200px wide. */
@media (min-width:900px) {
    #page-title {
        margin-bottom: -1px;
        font-size: 2rem;
    }

    #main-nav {
        display: inline-block;
    }

    #main-content {
        width: calc(100% - 240px);
    }
}

/* Adjustments for a viewport >= 1200px wide. */
@media (min-width: 1200px) {
    #main-content {
        padding-right: calc(50% - 550px);
        padding-left: calc(50% - 550px);
    }
}

